Dockerfile
Dockerfile.*
.*.swp

.git
.github
.gitignore
.gitmodules
.dockerfile

bin
target
evm_loader/program/target
evm_loader/cli/target
evm_loader/rust-evm/target
evm_loader/rust-evm/core/target
evm_loader/rust-evm/gasometer/target
evm_loader/rust-evm/runtime/target
evm_loader/rust-evm/src/target
evm_loader/target

evm_loader/tests/.idea
evm_loader/tests/venv
evm_loader/tests/__pycache__
