[package]
name = "neon-cli"
version = "0.1.0"
authors = ["Cyber-Core Maintainers <maintainers@cyber-core.dev>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
bincode = "1.3.1"
clap = "2.33.3"
evm-loader = { path = "../program", version = "2.0.8", default_features = false }
evm = { path = "../rust-evm", version = "0.18.0", default_features = false }
solana-sdk = "=1.6.9"
solana-client = "=1.6.9"
solana-clap-utils = "=1.6.9"
solana-cli-config = "=1.6.9"
solana-cli = "=1.6.9"
solana-cli-output = "=1.6.9"
solana-transaction-status = "=1.6.9"
bs58 = "0.4.0"
primitive-types = "0.7"
hex = ""
sha3 = "0.8"
arrayref = ""
serde = ""
serde_json = ""
getrandom = { version = "0.1.16", default_features = false, features = ["dummy"] }
libsecp256k1 = { version = "0.3.5", default-features = false }
log = "0.4.11"
stderrlog = "0.5.1"
