name: Deploy image
on:
  pull_request:
    types: [opened, reopened, synchronize, labeled, unlabeled, ready_for_review]
  repository_dispatch:
  push:
    branches:
      - master
      - develop
      - '[vt][0-9].[0-9]+.[0-9x]+*'
    tags:
      - "*"
env:
  DHUBU: ${{secrets.DHUBU}}
  DHUBP: ${{secrets.DHUBP}}
  BUILD_URL: "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  deploy-neon-evm:
    runs-on: build-runner
    steps:
      - uses: actions/checkout@v3

      - name: build docker image
        run: |
          python3 ./.github/workflows/deploy.py build_docker_image \
          --github_sha=${GITHUB_SHA}

      - name: publish image
        run: |
          python3 ./.github/workflows/deploy.py publish_image \
          --github_sha=${GITHUB_SHA}
  run-tests-and-finalize-image:
    runs-on: test-runner
    needs:
      - deploy-neon-evm
    steps:
      - uses: actions/checkout@v3
      - name: Run tests
        run: |
          python3 ./.github/workflows/deploy.py run_tests \
          --github_sha=${GITHUB_SHA}

      - name: Stop containers
        if: always()
        run: python3 ./.github/workflows/deploy.py stop_containers

      - name: Trigger proxy build
        run: |
          python3 ./.github/workflows/deploy.py trigger_proxy_action \
          --github_sha=${GITHUB_SHA} \
          --head_ref_branch=${{ github.head_ref }} \
          --base_ref_branch=${{ github.base_ref }} \
          --github_ref=${{ github.ref }} \
          --token=${{secrets.GHTOKEN }} \
          --is_draft=${{github.event.pull_request.draft}} \
          --labels='${{ toJson(github.event.pull_request.labels.*.name) }}'

      - name: Finalize image
        run: |
          python3 ./.github/workflows/deploy.py finalize_image \
          --head_ref_branch=${{ github.head_ref }} \
          --github_ref=${GITHUB_REF} \
          --github_sha=${GITHUB_SHA}
      - name: Check if it version branch
        id: is_version_branch
        run: |
          if [[ "${{ github.ref }}" =~ "refs/heads/"[vt][0-9]+\.[0-9]+\.x ]]; then
              echo "value=true"
              echo "value=true" >> $GITHUB_OUTPUT
          else
              echo "value=false"
              echo "value=false" >> $GITHUB_OUTPUT
          fi
      - name: Send notification to slack
        if: |
          failure() &&
           (github.ref_name == 'develop' ||
             github.ref_name == 'master' ||
             steps.is_version_branch.outputs.value) ||
             startsWith(github.ref , 'refs/tags/')
        run: |
          python3 ./.github/workflows/deploy.py send_notification \
          --url=${{secrets.SLACK_EVM_CHANNEL_URL}} \
          --build_url=${BUILD_URL}
